footer {
  margin-top: 50px;
  height: auto;
  position: absolute;
  background-color: #333;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Ubuntu", sans-serif;
  bottom: auto;
  position: absolute;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 1.2em;
  color: white;
  padding: 10px;
}

.footer-content i {
  font-size: 2rem;
  border-radius: 50px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1em 0;
  flex-direction: row;
}
ul li {
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

ul li a {
  color: initial;
}

ul li:hover i {
  cursor: pointer;
  opacity: 1;
  filter: grayscale(1) invert(0);
}

.footer-content p {
  text-align: center;
  font-size: 1.2em;
}

.footer-sider {
  background-color: #222;
  padding: 10px;
  color: ghostwhite;
}

.footer-sider a {
  text-decoration: none;
  color: crimson;
}

.footer-sider a:hover {
  color: blue;
}

@media (min-width: 280px) and (max-width: 767px) {
  .footer-content i {
    font-size: 1rem;
  }

  ul li {
    margin: 0 5px;
    width: 20px;
    height: 20px;
  }

  .footer-content p {
    font-size: 1em;
  }

  .footer-content h3 {
    font-size: 1em;
  }
}
