.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  flex-direction: column;
}

#movies {
  display: flex;
  width: 86%;
  flex-flow: row wrap;
}

.movie img {
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.movie {
  width: min-content;
  min-width: 30%;
  border: none;
  border-radius: 5px;
  margin: 16px;
  box-shadow: -5px -3px 10px 3px red, 3px 3px 10px 3px blue;
  flex-basis: auto;
  background-color: var(--light);
}

.movie h4 {
  text-align: center;
  color: red;
  margin: 10px;
}

.movie h4:hover {
  color: blue;
  cursor: pointer;
}

.movie span {
  font-family: serif;
}

@media (min-width: 280px) and (max-width: 767px) {
  #movies {
    flex-wrap: wrap;
  }

  .movie {
    padding: 0;
    width: 0;
    flex: 2 2 auto;
  }
}
