@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0b5b5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c84b4b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa4622;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 700;
}

body {
  min-height: 100vh;
  background-color: var(--dark);
  overflow-x: hidden;
}

.dateTime {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.dateTime span {
  background-color: #222;
  color: #aaa;
  padding: 5px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

:root {
  /* --blue: blue;
  --header: #003049;
  --color: #eee;
  --box-shadow: #334;
  --card-color: #1d323b;
  --background-color: #c634a6; */

  --primary-color: #ff6d00;
  --primary-color-hover: ;

  --secondary-color: #ff006e;
  --secondary-color-hover: #c634a6;

  --dark: #0c1930;

  --light: #f5f3f4;
}

.nextPreviousPage {
  width: 85%;
  display: flex;
  gap: 7px;
  justify-content: end;
  padding: 40px 0 50px 0;
}

.nextPreviousPage button {
  min-width: 90px;
  height: 26px;
  cursor: pointer;
  outline: none;
  background-color: #888;
  color: #eee;
  border: none;
  border-radius: 10px;
  font-family: sans-serif;
}
