@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c0b5b5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c84b4b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aa4622;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-weight: 700;
}

body {
  min-height: 100vh;
  background-color: var(--dark);
}

.dateTime {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

.dateTime span {
  background-color: #222;
  color: #aaa;
  padding: 5px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

:root {
  /* --blue: blue;
  --header: #003049;
  --color: #eee;
  --box-shadow: #334;
  --card-color: #1d323b;
  --background-color: #c634a6; */

  --primary-color: #ff6d00;
  --primary-color-hover: ;

  --secondary-color: #ff006e;
  --secondary-color-hover: #c634a6;

  --dark: #0c1930;

  --light: #f5f3f4;
}

.nextPreviousPage {
  display: flex;
  gap: 7px;
  justify-content: end;
  padding: 25px 50px 20px 5px;
}

.nextPreviousPage button {
  min-width: 90px;
  height: 26px;
  cursor: pointer;
  outline: none;
  background-color: #888;
  color: #eee;
  border: none;
  border-radius: 10px;
  font-family: sans-serif;
}

::placeholder {
  color: #222;
}

footer {
  margin-top: 50px;
  height: auto;
  position: absolute;
  background-color: #333;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Ubuntu", sans-serif;
  bottom: auto;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer-content h3 {
  font-size: 1.2em;
  color: white;
  padding: 10px;
}

.footer-content img {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1em 0;
  flex-direction: row;
}
ul li {
  margin: 0 10px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

ul li:hover img {
  cursor: pointer;
  opacity: 1;
  filter: grayscale(1) invert(0);
}

.footer-content p {
  text-align: center;
  font-size: 1.2em;
}

.footer-sider {
  background-color: #222;
  padding: 10px;
  color: ghostwhite;
}

.footer-sider a {
  text-decoration: none;
  color: crimson;
}

.footer-sider a:hover {
  color: blue;
}

header img {
  filter: grayscale(1) invert(1);
}
