.pupularBtn {
  color: #f3eeee;
  padding: 10px 0 10px 10px;
  gap: 10px;
  width: 85%;
  flex-wrap: wrap;
  border: 1px solid var(--secondary-color-hover);
  border-radius: 10px;
  display: none;
}

.pupularBtn button {
  background-image: linear-gradient(
    to right,
    rgb(17, 100, 234),
    rgb(75, 115, 147)
  );
  min-width: 80px;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 1em;
  border: none;
  outline: none;
}

.pupularBtn button:nth-child(2n) {
  background-image: linear-gradient(
    to right,
    rgb(86, 20, 122),
    rgb(167, 41, 123)
  );
}

.mostPopular {
  color: var(--secondary-color-hover);
  font-size: 1.2rem;
  margin: 25px 0 5px 0;
}

.genries {
  color: var(--light);
  width: 80%;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
}

.genres {
  width: 30%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

.genres i {
  font-size: 1.5rem;
  padding: 5px 0 0 0;
}

@media (min-width: 481px) and (max-width: 767px) {
  .pupularBtn button {
    min-width: 60px;
    font-size: 0.9em;
  }

  .mostPopular {
    margin: 10px 0 10px 0;
  }
}

@media only screen and (max-width: 480px) {
  .pupularBtn button {
    min-width: 16%;
    font-size: 70%;
  }
  .mostPopular {
    font-size: 1rem;
  }

  .pupularBtn {
    width: 80%;
    padding: 0 0 20px 0;
  }
}

.container.active .pupularBtn {
  display: flex;
}
